:root {
    /* b&w */
    --stone-050: 999;
    --stone-100: 988;
    --stone-200: 977;
    --stone-300: 966;
    --stone-400: 744;
    --stone-500: 555;
    --stone-600: 444;
    --stone-700: 333;
    --stone-800: 222;
    --stone-900: 111;
    --stone-950: 000;

    /* colors */
    --red: 911;
    --orange: 941;
    --amber: 931;
    --yellow: 991;
    --lime: 591;
    --elouan-green: 481;
    --green: 491;
    --emerald: 391;
    --teal: 259;
    --cyan: 099;
    --sky: 189;
    --blue: 159;
    --indigo: 058;
    --violet: 158;
    --purple: 159;
    --fuchsia: 359;
    --pink: 919;
    --rose: 912;

    /* link colors */
    --github: 988;
    --bluesky: 189;
    --email: 158;
    --rss: 941;
    --reddit: 911;
    --signal: 159;
    --discord: 058;
    --default-highlight: 359;

    --font-mono: 'JetBrains Mono', 'SF Mono', 'Roboto Mono', 'Cascadia Code',
        monospace;

    --green: 591;
    --cyan: 189;
    --blue: 159;
    --purple: 159;
    --pink: 919;
    --coral: 911;
    --red: 911;
    --orange: 941;
    --yellow: 991;
    --calm-yellow: 981;

    --light-blue: 169;

    --shade-0: 000;
    --shade-1: 111;
    --shade-2: 222;
    --shade-3: 333;
    --shade-4: 444;
    --shade-5: 555;
    --shade-6: 666;
    --shade-7: 777;
    --shade-8: 888;
    --shade-9: 977;
    --shade-10: 999;

    --best-colour: 269;
    --best-colour-faded: 259;

    --void: var(--shade-0);
    --black: var(--shade-2);
    --dark-grey: var(--shade-3);
    --grey: var(--shade-5);
    --light-grey: var(--shade-6);
    --silver: var(--shade-8);
    --white: var(--shade-10);

    --rainbow-1: var(--green);
    --rainbow-2: var(--cyan);
    --rainbow-3: var(--blue);
    --rainbow-4: var(--purple);
    --rainbow-5: var(--pink);
    --rainbow-6: var(--coral);
    --rainbow-7: var(--red);
    --rainbow-8: var(--orange);
    --rainbow-9: var(--yellow);

    --background: 333;
}

/* global styles */
*::selection {
    background-color: var(--indigo);
    color: var(--stone-600);
}

body {
    font-family: Inter, sans-serif;
    max-width: 750px;
    margin: 0 auto;
    padding: 30px 10px;
    font-size: 1.1em;
    background-color: var(--stone-950);
    color: var(--stone-200);
    line-height: 1.6;
}

/* typography */
h1,
h2,
h3 {
    font-family: var(--font-mono);
    line-height: 1.2;
}

ul {
    padding-inline-start: 1em;

    >li {
        list-style: '- ';
    }
}

/* links */
a {
    --color: var(--blue);
    color: var(--color);

    &.heading {
        text-decoration: none;
    }

    &:hover {
        background-color: var(--color);
        color: var(--stone-950);
        outline: 2px solid var(--color);
    }

    &:focus {
        outline: 2px solid var(--color);
        text-decoration: none;
    }
}

a.big {
    padding: 0.1em;
    font-weight: bold;
    margin: 0 0.2em;

    &:first-of-type {
        margin-left: 0;
    }
}

#github-profile-commit-status a {
    --color: var(--github);
    font-weight: bold;
}

/* buttons and forms */
label {
    display: block;
    padding: 0.3em 0;

    >* {
        display: block;
    }
}

button {
    --color: var(--blue);
    color: var(--color);

    &:hover {
        background-color: var(--color);
        color: var(--stone-050);
        outline: 2px solid var(--color);
    }

    &:focus {
        outline: 2px solid var(--color);
        text-decoration: none;
    }

    outline: 2px solid var(--stone-800);
    background-color: var(--stone-800);
    color: var(--stone-050);
    border: none;
    cursor: pointer;
}

.search {
    width: 200px;
    height: 25px;
    font-size: 18px;
    color: var(--stone-50);

    background-color: var(--stone-800);
    color: var(--stone-050);
    border: none;
}

/* headings and specific elements */
.heading {
    font-family: var(--font-mono);
    line-height: 1.2;
    text-decoration: none;
}

.heading a {
    text-decoration: none;
}

/* tooltips */
.has-tooltip {
    border-bottom: 1px dotted var(--fuchsia);
    cursor: help;
    position: relative;
}

#tooltip-display {
    position: absolute;
    background-color: var(--stone-800);
    color: var(--stone-100);
    padding: 5px 10px;
    font-size: 0.85em;
    border: 1px solid var(--stone-600);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;

    z-index: 1010;

    white-space: nowrap;
    max-width: 250px;

    pointer-events: none;
}

#tooltip-display.visible {
    opacity: 1;
    visibility: visible;
}

/* content specific styles */
content figure {
    margin: 2em 0;
}

content figure img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
    border: 1px solid var(--stone-100);
    box-sizing: border-box;
}

content figcaption {
    padding: 0.75em 0.25em;
    text-align: center;
    font-size: 0.9em;
    color: var(--stone-400);
    line-height: 1.4;
}